:root {
    --color-brand-hue: 195;
    --color-brand-saturation: 56%;
    --color-brand-lightness: 51%;

    --color-brand: hsl(var(--color-brand-hue) var(--color-brand-saturation) var(--color-brand-lightness));
    --color-primary: var(--color-brand);
    --color-secondary: hsl(var(--color-brand-hue) var(--color-brand-saturation) 35%);

    --color-normal: '#a6a877';
    --color-grass: '#77c850';
    --color-fire: '#ee7f30';
    --color-water: '#678fee';
    --color-electric: '#f7d02c';
    --color-ice: '#96d9d6';
    --color-fighting: '#c03028';
    --color-poison: '#a33ea1';
    --color-ground: '#e0c068';
    --color-flying: '#a98ff3';
    --color-psychic: '#f95587';
    --color-bug: '#a6b91a';
    --color-rock: '#b6a136';
    --color-ghost: '#735797';
    --color-dark: '#705746';
    --color-dragon: '#6f35fc';
    --color-steel: '#b7b7ce';
    --color-fairy: '#d685ad';

    --color-social-media-facebook: hsl(221 44% 41%);
    --color-social-media-twitter: hsl(196 100% 46%);
    --color-social-media-linkedin: hsl(201 100% 35%);
    --color-social-media-youtube: hsl(0 74% 46%);
    --color-social-media-instagram: hsl(349 75% 57%);
    --color-social-media-github: hsl(0 0% 20%);

    --color-text: var(--color-social-media-github);
}

$colors: (
    'primary': var(--color-primary),
    'secondary': var(--color-secondary),
    'normal': var(--color-normal),
    'grass': var(--color-grass),
    'fire': var(--color-fire),
    'water': var(--color-water),
    'electric': var(--color-electric),
    'ice': var(--color-ice),
    'fighting': var(--color-fighting),
    'poison': var(--color-poison),
    'ground': var(--color-ground),
    'flying': var(--color-flying),
    'psychic': var(--color-psychic),
    'bug': var(--color-bug),
    'rock': var(--color-rock),
    'ghost': var(--color-ghost),
    'dark': var(--color-dark),
    'dragon': var(--color-dragon),
    'steel': var(--color-steel),
    'fairy': var(--color-fairy),
    'facebook': var(--color-social-media-facebook),
    'twitter': var(--color-social-media-twitter),
    'linkedin': var(--color-social-media-linkedin),
    'youtube': var(--color-social-media-youtube),
    'instagram': var(--color-social-media-instagram),
    'github': var(--color-social-media-github),
    'text': var(--color-text),
);

