@import '../00\ -\ Settings/_colors.scss';

.bg-white {
  background-color: white !important;
}

.bg-black {
  background-color: black !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-normal {
  background-color: var(--color-normal) !important;
}

.bg-grass {
  background-color: var(--color-grass) !important;
}

.bg-fire {
  background-color: var(--color-fire) !important;
}

.bg-water {
  background-color: var(--color-water) !important;
}

.bg-electric {
  background-color: var(--color-electric) !important;
}

.bg-ice {
  background-color: var(--color-ice) !important;
}

.bg-fighting {
  background-color: var(--color-fighting) !important;
}

.bg-poison {
  background-color: var(--color-poison) !important;
}

.bg-ground {
  background-color: var(--color-ground) !important;
}

.bg-flying {
  background-color: var(--color-flying) !important;
}

.bg-psychic {
  background-color: var(--color-psychic) !important;
}

.bg-bug {
  background-color: var(--color-bug) !important;
}

.bg-rock {
  background-color: var(--color-rock) !important;
}

.bg-ghost {
  background-color: var(--color-ghost) !important;
}

.bg-dark {
  background-color: var(--color-dark) !important;
}

.bg-dragon {
  background-color: var(--color-dragon) !important;
}

.bg-steel {
  background-color: var(--color-steel) !important;
}

.bg-fairy {
  background-color: var(--color-fairy) !important;
}

.bg-facebook {
  background-color: var(--color-social-media-facebook) !important;
}

.bg-twitter {
  background-color: var(--color-social-media-twitter) !important;
}

.bg-linkedin {
  background-color: var(--color-social-media-linkedin) !important;
}

.bg-youtube {
  background-color: var(--color-social-media-youtube) !important;
}

.bg-instagram {
  background-color: var(--color-social-media-instagram) !important;
}

.bg-github {
  background-color: var(--color-social-media-github) !important;
}

.bg-text {
  background-color: var(--color-text) !important;
}
