.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.text-primary {
  color: color(primary) !important;
}

.text-secondary {
  color: color(secondary) !important;
}
